01-ai-voice-agents/aloware-call-recording-logger.json
{
  "name": "ALOWARE LLAMADA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Llamada",
        "options": {}
      },
      "id": "0e008c8c-6c0a-4d88-ae4e-8c2a2d7d2683",
      "name": "Webhook Aloware",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        320,
        -144
      ],
      "webhookId": "fc42aa0b-91fe-4eac-9113-f4b866a71697"
    },
    {
      "parameters": {
        "resource": "leads",
        "filter": {
          "query": "={{ $json.body.body.lead_number }}"
        },
        "options": {}
      },
      "id": "4719f6ba-3840-4ad2-abb3-ea2c64873156",
      "name": "Obtener Leads por Contact ID",
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        544,
        -144
      ],
      "credentials": {
        "kommoOAuth2Api": {
          "id": "IZWfBcSOFxNXc2pq",
          "name": "Kommo account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "058adcd2-9dc9-44bf-8fd9-5d835e9fa852",
              "leftValue": "={{ $json._embedded.leads[0]._embedded.tags[0].id }}",
              "rightValue": 241615,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        -144
      ],
      "id": "d9be9a99-f43f-403e-9a5b-27b08dfaeb8b",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const leadId = $json._embedded?.leads?.[0]?.id;\nif (!leadId) {\n  throw new Error(\"Lead ID no encontrado.\");\n}\n\nconst aloware = $items(\"Webhook Aloware\")[0].json.body.body;\n\nconst firstName = aloware?.contact?.first_name || \"desconocido\";\nconst lastEngagement = aloware?.contact?.last_engagement_at || \"sin fecha\";\nconst recordingUrl = aloware?.direct_recording_url || \"sin enlace\";\n\nconst noteText = `📞 Grabación realizada por ${firstName} el ${lastEngagement}.\\n🔗 Enlace: ${recordingUrl}`;\n\nconst notesArray = [\n  {\n    note_type: \"common\",\n    params: {\n      text: noteText\n    }\n  }\n];\n\nreturn {\n  json: {\n    id: leadId,\n    notes: JSON.stringify(notesArray)\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -400
      ],
      "id": "a570946e-1a2d-4eea-b2a6-ac344a0e1093",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "notes",
        "operation": "createNotes",
        "notes": {
          "common": [
            {
              "created_at": "={{ DateTime.now().toUTC() }}",
              "entity_id": "={{ $json._embedded.leads[0].id }}",
              "text": "=Llamada Realizada por {{ $('Webhook Aloware').item.json.body.body.contact.last_engagement_text }}, El dia {{ $('Webhook Aloware').item.json.body.body.contact.last_engagement_at }}, La grabacion es {{ $('Webhook Aloware').item.json.body.body.direct_recording_url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        1008,
        -256
      ],
      "id": "d6da0999-1854-462d-8d47-684bb5c041e2",
      "name": "Kommo API Node5",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "IZWfBcSOFxNXc2pq",
          "name": "Kommo account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Aloware": {
      "main": [
        [
          {
            "node": "Obtener Leads por Contact ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Leads por Contact ID": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Kommo API Node5",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be56c398-6f46-4c0a-93c5-f17e1463b577",
  "meta": {
    "instanceId": "246531f51febe49725759c1fd3ecb02fd615652b704ac0ad3a799cc64a384453"
  },
  "id": "AqUAB06gOVgEYsdR",
  "tags": []
}